################################################################################
# Mock defaults
config_opts['root'] = '{{ mock_build_root }}'
config_opts['target_arch'] = '{{ mock_arch }}'
config_opts['legal_host_arches'] = {{ mock_host_arches }}
config_opts['chroot_setup_cmd'] = '{{ mock_chroot_setup_cmd }} {{ mock_chroot_additional | default("") }}'
config_opts['dist'] = '{{ mock_combined_dist }}'
config_opts['releasever'] = '{{ major }}'
config_opts['package_manager'] = 'dnf'
config_opts['extra_chroot_dirs'] = [ '/run/lock', ]

################################################################################
# Mimicking some build options
config_opts['plugin_conf']['ccache_enable'] = False
config_opts['plugin_conf']['root_cache_enable'] = False
config_opts['plugin_conf']['yum_cache_enable'] = False
config_opts['rpmbuild_networking'] = {{ mock_rpmbuild_networking | default('False') }}
config_opts['use_host_resolv'] = {{ mock_use_host_resolv | default('False') }}
config_opts['macros']['%_rpmfilename'] = '%%{NAME}-%%{VERSION}-%%{RELEASE}.%%{ARCH}.rpm'
config_opts['macros']['%_host'] = '{{ mock_host }}'
config_opts['macros']['%_host_cpu'] = '{{ mock_arch }}'
config_opts['macros']['%_vendor'] = "redhat"
config_opts['macros']['%_vendor_host'] = "redhat"
config_opts['macros']['%dist'] = '{{ mock_full_dist }}'

################################################################################
# Start specific macros for builds
config_opts['macros']['%vendor'] = "{{ mock_vendor | default('Rocky Enterprise Software Foundation') }}"
config_opts['macros']['%packager'] = "{{ mock_packager | default('Lazy Builder <releng@rockylinux.org>') }}"

################################################################################
# Start options for detailed information in results
config_opts['plugin_conf']['showrc_enable'] = True
config_opts['plugin_conf']['package_state_enable'] = True
config_opts['plugin_conf']['package_state_opts'] = {}
config_opts['plugin_conf']['package_state_opts']['available_pkgs'] = False
config_opts['plugin_conf']['package_state_opts']['installed_pkgs'] = True

################################################################################
# Planned section for extra options
{% if mock_rpmbuild_macro_set is defined and mock_rpmbuild_macro_set is string %}
config_opts['files']['/etc/rpm/macros.zz-extended'] = """
{{ mock_rpmbuild_macro_set }}

"""
{% endif %}
{% if module_setup_commands is defined and not module_mode|bool %}
# If a build requires non-default modules or a module needs another module
# enabled, this can be used for that. At the time of this writing, koji doesn't
# support this. The format is ('action', 'name'), where action is enable or
# disable, and name is the module name.
# ('enable', 'idm:DL1')
config_opts['module_setup_commands'] = [
{% for k,v in module_setup_commands.items() %}
('{{ v }}', '{{ k }}'){% if not loop.last %}{{','}}{% endif %}
{% endfor %}
]
{% endif %}
# End
################################################################################

################################################################################
# Modules, if required will be in this section
{% if module_mode %}
config_opts['files']['/etc/rpm/macros.zz-modules'] = """
%dist {{ module_dist }}
%modularitylabel {{ module_modularitylabel }}
%_module_build 1
%_module_name {{ source_name }}
%_module_stream {{ module_stream }}
%_module_version {{ module_version }}
%_module_context {{ module_context }}

{% if module_data.data.buildopts.rpms.macros is defined %}
{{ module_data.data.buildopts.rpms.macros }}
{% endif %}
"""
# If a module requires other modules, they'll be setup below.
{% if module_needs_modules %}
config_opts['module_setup_commands'] = [
# NOTE: We only support EL modules, which expects simplistic module yamls
{% for x in module_data.data.dependencies[0].buildrequires if x != 'platform' %}
('enable','{{ x }}:{{ module_data.data.dependencies[0].buildrequires[x][0] }}'){% if not loop.last or module_setup_commands is defined %}{{','}}{% endif %}
{% endfor %}
{% if module_setup_commands is defined %}
{% for k,v in module_setup_commands.items() %}
('{{ v }}', '{{ k }}'){% if not loop.last %}{{','}}{% endif %}
{% endfor %}
{% endif %}
]
{% endif %}
{% endif %}
# End
################################################################################

config_opts['dnf.conf'] = """
[main]
cachedir=/var/cache/yum
keepcache=1
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=
metadata_expire=0
mdpolicy=group:primary
best=1
install_weak_deps=0
protected_packages=
module_platform_id=platform:el{{ major }}

exclude={{ mock_excludes | default('') }}

{% if mock_repos is defined %}
{% for repo in mock_repos %}
[{{ repo.repoid }}]
name={{ repo.repoid }}
baseurl={{ repo.baseurl }}
gpgcheck={{ repo.gpgcheck }}
enabled={{ repo.enabled }}
gpgkey={{ repo.gpgkey }}
priority={{ repo.priority|default("99") }}
module_hotfixes={{ repo.module_hotfixes|default("0") }}
{% if repo.exclude is defined %}
exclude={{ repo.exclude  }}
{% endif %}

{% endfor %}
{% endif %}

{% if bootstrap_repos is defined %}
# The idea is that if we have a bootstrap repo, regardless of where it's at, it
# will need to be placed here with gpg check off. The packages don't get signed
# during a bootstrap anyway

{% for repo in bootstrap_repos %}
[bootstrap-{{ repo.repoid }}]
name=bootstrap-{{ repo.repoid }}
baseurl={{ repo.baseurl }}
enabled=1
gpgcheck=0
priority={{ repo.priority|default("99") }}
module_hotfixes={{ repo.module_hotfixes|default("0") }}
{% if repo.exclude is defined %}
exclude={{ repo.exclude  }}
{% endif %}

{% endfor %}
{% endif %}

{% if solo_repos is defined %}
{% for repo in solo_repos %}
[solo-{{ repo.repoid }}]
name=solo-{{ repo.repoid }}
baseurl={{ repo.baseurl }}
enabled=1
gpgcheck=0
priority={{ repo.priority|default("99") }}
module_hotfixes={{ repo.module_hotfixes|default("0") }}
{% if repo.exclude is defined %}
exclude={{ repo.exclude  }}
{% endif %}

{% endfor %}
{% endif %}

{% if module_mode %}
[{{ module_format }}-{{ module_context | default('01010100') }}]
name={{ module_format }}-{{ module_context | default('01010100') }}
baseurl={{ module_repo_url }}
enabled=1
gpgcheck=0
priority=5
module_hotfixes=1

[local-{{ module_format }}-{{ module_context | default('01010100') }}]
name={{ module_format }}-{{ module_context | default('01010100') }}
baseurl=/var/lib/mock/{{ source_name }}
enabled=1
gpgcheck=0
priority=5
module_hotfixes=1

{% endif %}

{% if epel_repos is defined %}
{% for repo in epel_repos %}
[{{ repo.repoid }}]
name={{ repo.repoid }}
baseurl={{ repo.baseurl }}
enabled=1
gpgcheck=0
priority={{ repo.priority|default("99") }}
module_hotfixes={{ repo.module_hotfixes|default("0") }}

{% endfor %}
{% endif %}

{% if rpmfusion_repos is defined %}
{% for repo in rpmfusion_repos %}
[{{ repo.repoid }}]
name={{ repo.repoid }}
baseurl={{ repo.baseurl }}
enabled=1
gpgcheck=0
priority={{ repo.priority|default("99") }}
module_hotfixes={{ repo.module_hotfixes|default("0") }}

{% endfor %}
{% endif %}

"""
