[defaults]
force_color             = 1
nocows                  = True
ansible_managed         = Ansible Managed (lazy builder)
#command_warnings        = True
display_args_to_stdout  = False
display_skipped_hosts   = false
strategy                = free
forks                   = 3
retry_files_enabled     = False
gathering               = smart
fact_caching            = memory
fact_caching_timeout    = 1800
no_log                  = False
log_path                = tmp/ansible.log
known_hosts             = tmp/known_hosts
roles_path              = roles
collections_paths       = collections

[ssh_connection]
# Disable GSSAPI, which slows down SSH connections for ansible
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o GSSAPIAuthentication=no
